body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  width: 400px;
  border: 1px solid #2d2d2d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 400px;
  align-items: center;
  background-color: teal;
}

div {
  color: #fff;
  background: #2d2d2d;
  padding: 20px;
}

.input {
  padding: 20px;
  margin-top: 10px;
}

.count {
  background-color: red;
  color: black;
}

/*
How to center a div in the page.
1. set the parent element display fle.
2. Give it a set height and width. ONly then the idea of centering works.
3. use justify content- center and align content center
*/
